<div class="page-header">
	<h2>Node.js + MongoDB</h2>
</div>
<div class="page-header">
	<div class="row-fluid">
		<div class="offset1 span2">
			<img class="img1" src="assets/img/nicemarket.jpg" alt="">
		</div>
	</div>
</div>